/* Common Styles */
.mainheading {
    padding: 1rem 0rem;
}

a {
    color: #00ab6b;
    transition: all 0.2s;
    text-decoration: none;
}

a:hover {
    color: #038252;
}

.section-title h2 {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 1.4rem;
}

.section-title span {
    border-bottom: 1px solid rgba(0, 0, 0, .44);
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: -1px;
}

/* Common Layout for Desktop and iPhone */
.container {
    max-width: 80%;
}

.listfeaturedtag .card-columns.listfeaturedtag {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

/* Adjustments for iPhone Layout */
@media (max-width: 991px) {
    html { font-size: 16px; }
    .container { max-width: 100%; }
    .listfeaturedtag .card-columns.listfeaturedtag {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.8rem;
        padding-left: 0.8rem;
    }
}
